*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%

::selection
    background $verde
    color #fff

::-moz-selection
    background $verde
    color #fff

.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%