// Responsive
desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1200px
rupture.mobile-cutoff  = $mobile = 735px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$verde   = #669933
$acai    = #660066
$acerola = #ED1C2E

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700')
roboto($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Roboto Slab', 'Georgia', 'Garamond', serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700

@font-face
    font-family 'JoyfulJuliana'
    src url('../fonts/joyful_juliana-webfont.eot');
    src url('../fonts/joyful_juliana-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/joyful_juliana-webfont.woff2') format('woff2'),
        url('../fonts/joyful_juliana-webfont.woff') format('woff'),
        url('../fonts/joyful_juliana-webfont.ttf') format('truetype'),
        url('../fonts/joyful_juliana-webfont.svg#joyful_julianaregular') format('svg')
    font-weight normal
    font-style normal
joyful($size)
    font-size $size + 0px
    font-family 'JoyfulJuliana', 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif
    font-weight normal
    font-style normal