.fixed-bg
    position fixed
    width calc("50% - 170px")
    height 100%
    top 0
    right 0
    &.fixed-bg-acai
        background-image $img('lateral-acai.jpg')
    &.fixed-bg-acerola
        background-image $img('lateral-acerola.jpg')
    background-size cover
    background-position center bottom
    background-repeat no-repeat
    z-index -1
    +below($tablet)
        display none

header
    width 100%
    text-align center
    padding 45px 0 60px
    +tablet()
        padding 4% 0
    +mobile()
        padding 6.5% 0 5%
    h1
        display block
        width 230px
        height 53px
        margin 0 auto
        padding 0
        background $img('marca-liotecnica.png') no-repeat center
        a
            text-indent -9999px
            display block
            width 100%
            height 100%
        +mobile()
            width 200px
            height 46px
            background-size 100% auto
    h2
        position absolute
        top -25px
        left 725px
        color #fff
        joyful 90
        margin 0
        text-shadow 0 2px 8px rgba(#000, .6)
        cursor default
        +below($tablet)
            display none
    #mobile-toggle
        +above($mobile + 1px)
            display none
        display block
        border 0
        top 0
        height 40px
        width 100%
        outline 0
        padding 0
        margin-top 6%
        &.acai
            background-color $acai
        &.acerola
            background-color $acerola
        .lines
            display block
            width 28px
            margin 0 auto
            height 3px
            background #fff
            position relative
            transition .3s ease
            border-radius 4px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 3px
                border-radius 4px
                background #fff
                transition .3s ease
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    nav
        display inline-block
        margin-top 30px
        +above($mobile + 1px)
            display inline-block !important
        &.nav-acai
            background $acai
            a:hover
            a.active
                background lighten($acai, 8)
        &.nav-acerola
            background $acerola
            a:hover
            a.active
                background darken($acerola, 15)
        a
            display block
            float left
            text-transform lowercase
            joyful 24
            color #fff
            text-decoration none
            padding 10px 16px
            transition background .3s
            +tablet()
                joyful 21
                padding 10px 12px
        +tablet()
            margin-top 5%
        +mobile()
            margin-top 0
            display none
            width 100%
            a
                display block
                float none
                joyful 21


.main
    margin-bottom 45px
    +below($tablet)
        margin-bottom 5%
    .padded
        width 560px
        +below($tablet)
            width 100%
    h1
        joyful 48
        margin 0 0 .45em
        +mobile()
            joyful 38
    .texto
        roboto 14
        line-height 1.5
        color #000
        *:first-child
            margin-top 0
        *:last-child
            margin-bottom 0
        img
            max-width 100%
            height auto
            vertical-align middle
            margin 1em 0
        h2
            margin 30px 0 10px
            &.subtitulo-1
                color $verde
                joyful 32
                line-height 1.1
                +mobile()
                    joyful 28
            &.subtitulo-2
                roboto 20 bold
                +mobile()
                    roboto 16
            + p
                margin-top 0
        ul
            padding 0 0 0 1.2em
            li
                margin 5px 0
    .imagens
        display inline-block
        margin 30px 0
        height 220px
        width 100%
        position relative
        .imagens-wrapper
            clearfix()
            position absolute
            top 0
            left 0
            white-space nowrap
            font-size 0
            img
                float none
                vertical-align middle
                padding 10px 5px
                &:first-child
                    padding-left 10px
                &:last-child
                    padding-right 10px
        +below($tablet)
            height auto
            margin 3% 0
            .imagens-wrapper
                position relative
                white-space normal
                img
                    height 170px
                    width auto
                    padding 5px !important
                    margin-right 5px
                    margin-bottom 5px
        +mobile()
            margin 4% 0
            .imagens-wrapper img
                max-width 100%
                height auto
                display inline-block
    &.main-acai
        h1
            color $acai
        .texto h2.subtitulo-2
            color $acai
        .imagens img
            background $acai
    &.main-acerola
        h1
            color $acerola
        .texto h2.subtitulo-2
            color darken($acerola, 10)
        .imagens img
            background $acerola

.not-found
    text-align center
    padding-bottom 15vh !important
    .center
        width 90% !important
    h2
        margin-bottom 15vh !important
    p
        display inline-block
        roboto 13 bold
        border 2px solid $verde
        color $verde
        text-transform uppercase
        padding 20px 24px
        cursor default
    a
        display inline-block
        roboto 13 bold
        padding 20px 24px
        border 2px solid transparent
        background $verde
        color #fff
        text-transform uppercase
        text-decoration none
        transition background .3s
        &:hover
            background darken($verde, 10)

footer
    width 100%
    padding 20px 0
    background $verde
    .center
        clearfix()
        text-align center
        font-size 0
    .footer-col
        width 150px
        margin 0 50px
        vertical-align top
        text-align center
        display inline-block
        +tablet()
            margin 0 20px
        +mobile()
            display none
            &:last-child
                display inline-block
        .titulo
            width 100%
            border-bottom 1px solid #fff
            joyful 24
            margin 0 0 5px
            padding 0
            height 32px
            line-height 32px
            color #fff
            &.titulo-logo
                background $img('marca-liotecnica-rodape.png') no-repeat center
        ul
            padding 0
            margin 0
            list-style-type none
            li
                display block
                a
                    color #fff
                    text-decoration none
                    joyful 16
                    transition color .3s
        &:first-child a:hover
            color $acai
        a:hover
            color darken($acerola, 20)
        p
            roboto 11
            color #fff
            margin 0
            cursor default
            &.trupe
                roboto 10
                margin 15px 0 0
                a
                    color #fff
                    text-decoration none
                    transition color .3s
                    &:hover
                        color $acai