.contato
    clearfix()
    p.chamada
        roboto 16
        line-height 1.5
        margin-bottom 35px
        +mobile()
            margin-bottom 15px
            roboto 14
    .contato-info
        width 280px
        float left
        img
            max-width 100%
            min-height 183px
            height auto
            vertical-align middle
            +below($tablet)
                min-height 0
        roboto 16
        line-height 1.5
        +tablet()
            width 40%
        +mobile()
            width 100%
            roboto 14
            img
                display none
        .endereco
            margin 25px 0
            p
                margin 0
                a
                    text-decoration none
                    color $verde
                    transition color .3s
            +mobile()
                margin-top 0
                margin-bottom 10px
        .telefone
            margin 0
            font-weight 700
    form
        width 250px
        float right
        +tablet()
            width 55%
        +mobile()
            float left
            clear left
            margin-top 7%
            width 100%
        input
        textarea
            width 100%
            resize none
            border 0
            outline 0
            background #EBEBEB
            roboto 14
            display block
            margin-bottom 3px
            padding 8px 10px
        textarea
            height 180px
        input[type='submit']
            background $verde
            color #fff
            transition background .3s
        #form-contato-response
            display none
            width 100%
            padding 10px
            border 1px solid $verde
            margin 5px 0
            text-align center
            roboto 12
            color #000
    &.main-acai
        input[type='submit']:hover
            background $acai
        .endereco a:hover
            color $acai
    &.main-acerola
        input[type='submit']:hover
            background $acerola
        .endereco a:hover
            color $acerola
