.curiosidades
    .curiosidades-lista
        width 100%
        a
            display block
            padding 15px 0 15px 45px
            color $verde
            transition color .3s, background .3s
            text-decoration none
            joyful 32
            &:hover
                color #fff
            +mobile()
                joyful 28
                padding-top 10px
                padding-bottom 10px
    .curiosidade-titulo
        joyful 32
        padding-bottom 8px
        margin-bottom 30px
        +mobile()
            joyful 28
            margin-bottom 20px
    .back
        display block
        width 136px
        height 40px
        background-position center
        background-repeat no-repeat
        text-indent -9999px
        transition background .3s
        margin-top 30px
        +mobile()
            margin-top 20px
    &.main-acai
        .curiosidades-lista a
            border-bottom 1px solid $acai
            background $img('setinha-roxa.png') no-repeat center left
            &:hover
                background-color $acai
        .curiosidade-titulo
            color $verde
            border-bottom 1px solid $acai
        .back
            background-image $img('back-acai-off.png')
            &:hover
                background-image $img('back-acai-on.png')
    &.main-acerola
        .curiosidades-lista a
            border-bottom 1px solid $acerola
            background $img('setinha-vermelha.png') no-repeat center left
            &:hover
                background-color $acerola
        .curiosidade-titulo
            color $verde
            border-bottom 1px solid $acerola
        .back
            background-image $img('back-acerola-off.png')
            &:hover
                background-image $img('back-acerola-on.png')