.home
    padding 60px 0
    .center
        width 1200px
    +below($tablet)
        padding 5% 0
        .center
            width 90%
    +mobile()
        padding 6.5% 0 5%
    h1
        display block
        width 230px
        height 53px
        margin 0 auto
        padding 0
        text-indent -9999px
        background $img('marca-liotecnica.png') no-repeat center
        +mobile()
            width 200px
            height 46px
            background-size 100% auto
    h2
        text-align center
        joyful 48
        color $acerola
        margin 40px 0
        cursor default
        +tablet()
            margin 5% 0
        +mobile()
            joyful 36
            margin 8% 0
    .home-banner
        width 100%
        height 650px
        position relative
        background $img('img-home-acerola.png') no-repeat center right
        a
            display block
            height 100%
            width 50%
            position absolute
            top 0
            transition width .5s ease
            overflow hidden
            &.acai
                left 0
                background $img('img-home-acai.png') no-repeat center left
                .banner-inner p
                    background $img('mancha-roxa.png') no-repeat center
            &.acerola
                right 0
                z-index 2
                background $img('img-home-acerola.png') no-repeat center right
                .banner-inner p
                    background $img('mancha-vermelha.png') no-repeat center
            .banner-inner
                opacity 0
                transition opacity .5s ease
                position absolute
                width 100%
                top 90px
                text-align center
                h2
                p
                    cursor pointer
                h2
                    color #fff
                    joyful 90
                    margin 0
                    text-shadow 0 2px 8px rgba(#000, .6)
                p
                    width 522px
                    height 127px
                    display inline-block
                    margin 0
                    padding 35px 0
                    joyful 32
                    color #fff
                    text-shadow 0 1px 4px rgba(#000, .2)
            &:hover
                width 900px
                + a
                    width 300px
                .banner-inner
                    opacity 1
        +tablet()
            height auto
            background none
            a
                position relative
                display block
                width 100%
                height 300px
                background-size cover !important
                background-position center !important
                transition none
                .banner-inner
                    opacity 1
                    top 30px
                &:hover
                    width auto
                    + a
                        width auto
        +mobile()
            height auto
            background none
            a
                position relative
                display block
                width 100%
                height 160px
                background-size cover !important
                background-position center !important
                transition none
                .banner-inner
                    opacity 1
                    top 0
                    height 100%
                    line-height 160px
                    h2
                        joyful 68
                    p
                        display none
                &:hover
                    width auto
                    + a
                        width auto